services:
  app:
    image: subhranshu2332/dam_app:latest
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
      - ./data:/app/data
    command: npm run dev
    depends_on:
      - redis

  worker:
    image: subhranshu2332/dam_worker:latest
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    depends_on:
      - redis
      - minio

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio-data:/data

volumes:
  minio-data:
